<h1>User::Searches#search</h1>
<p>Find me in app/views/user/searches/search.html.erb</p>

<p>"<%= @word %>"s result</p>

<% @dreams.each do |dream| %>
<%= link_to dream_path(dream.id) do %>
<%= dream.content %><br>
<% end %>
<% end %>