<div class="container">
  <div class="row">

    <div class="col-3"></div>
    <div class="col-9">
      <div class="row">
        <p>"<%= @word %>"s result</p>
        <% @dreams.each do |dream| %>
        <%= link_to dream_path(dream.id) do %>
        <%= dream.content %><br>
        <% end %>
        <% end %>
      </div>
    </div>
</div>